html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

:root {
  --blue-700: #020659;
  --blue-600: #020873;
  --blue-500: #030a8c;
  --blue-400: #2104d9;
  --blue-300: #0d8dfb;
  --blue-200: #2699fb;
  --purple: #590242;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  background-color: var(--blue-700);
}
body {
  margin: 0 auto;
}
main {
  background-color: white;
}
#trending {
  display: flex;
  color: var(--purple);
}
section > h3 {
  display: block;
}
#smoothJazz {
  background: linear-gradient(90deg, var(--blue-400), black);
  color: white;
}
.scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll section {
  margin: 10px;
  position: relative;
}
.scroll div {
  position: absolute;
  top: 251px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  height: 50px;
  width: 350px;
}
dl {
  display: flex;
}
dt {
  padding-right: 5px;
}
audio {
  position: absolute;
  bottom: 150px;
  left: 5px;
}

#trending ::-webkit-scrollbar {
  width: 15px;
}
#trending ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px var(--purple);
}
#trending ::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: pxx;
}
#trending ::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-700);
}
#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {
  width: 15px;
}
#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px var(--blue-700);
}
#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {
  background-color: var(--blue-700);
}
#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {
}
audio::-webkit-media-controls-mute-button {
  background-color: #ffffff;
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
  background-color: rgba(255, 255, 255, 0.5);
}
