html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* END OF CSS RESET */

:root {
  --blue-700: #020659;
  --blue-600: #020873;
  --blue-500: #030a8c;
  --blue-400: #2104d9;
  --blue-300: #0d8dfb;
  --blue-200: #2699fb;
  --purple: #590242;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  background-color: var(--blue-700);
}
body {
  margin: 0 auto;
  max-width: 1080px;
}
main {
  background-color: white;
}
nav {
  color: white;
  display: flex;
  align-items: center;
  background-color: #020873;
}
#trending {
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--purple);
  padding: 2rem 0;
}
section > h3 {
  display: block;
  padding-left: 2rem;
}
#smoothJazz {
  background: linear-gradient(90deg, var(--blue-400), black);
  color: white;
  padding: 1rem 2rem;
}
#smoothJazz h2 {
  margin-bottom: 0.5rem;
}
.scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll section {
  margin: 10px;
  position: relative;
}
.scroll div {
  position: absolute;
  top: 251px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  height: 50px;
  width: 350px;
}
.card {
  height: 220px;
  max-width: 200px;
}
dl {
  display: flex;
}
dt {
  padding-right: 5px;
}
audio {
  position: absolute;
  bottom: 150px;
  left: 5px;
}
.more-btn {
  position: absolute;
  width: 9rem;
  bottom: 0;
  left: 2rem;
  background-color: var(--purple);
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 4px;
  cursor: pointer;
}
.more-btn:hover {
  background-color: var(--blue-700);
}
#playlists,
#curated {
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--purple);
  padding-bottom: 2rem;
  background-color: white;
}
#playlists .scroll {
  background-color: var(--blue-200);
}
#curated .scroll {
  background-color: var(--blue-400);
}
#playlists section,
#curated section {
  background-color: var(--blue-300);
  color: white;
  text-align: center;
  padding: 0.5rem;
  height: 260px;
}
#curated section {
  background-color: var(--blue-500);
}
#playlists h3:nth-child(1),
#curated h3:nth-child(1) {
  padding: 1rem 2rem;
  background-color: white;
}
#playlists .scroll h3:nth-child(1) {
  background-color: var(--blue-300);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
#curated .scroll h3:nth-child(1) {
  background-color: var(--blue-500);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.scroll .card {
  max-width: 200px;
}
#playlists .scroll .cardInfo {
  position: initial;
  background-color: var(--blue-300);
  width: fit-content;
}
#curated .scroll .cardInfo {
  position: initial;
  background-color: var(--blue-500);
  width: fit-content;
}

#playlists h3,
#curated h3 {
  padding: 0;
}

#trending ::-webkit-scrollbar {
  width: 15px;
}
#trending ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px var(--purple);
}
#trending ::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: pxx;
}
#trending ::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-700);
}
#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {
  width: 15px;
}
#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px var(--blue-700);
}
#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {
  background-color: var(--blue-700);
}
#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {
}
audio::-webkit-media-controls-mute-button {
  background-color: #ffffff;
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
  background-color: rgba(255, 255, 255, 0.5);
}
footer {
  background-color: white;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--purple);
  font-weight: bold;
}
footer p {
  margin-top: 2rem;
}
.logo {
  text-decoration: none;
  color: white;
  font-variant: small-caps;
}
h1 {
  font-size: 1.25em;
}
h2,
h3 {
  font-size: 1em;
}
p,
dl,
dd {
  font-size: 1em;
}
footer p {
  font-size: 0.75em;
}
nav {
  display: flex;
  align-items: center;
}
ul {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin-top: 50px;
}
li {
  padding: 0.5rem;
  margin: 0 auto;
}
li:first-of-type {
  position: absolute;
  top: 1%;
  left: 0;
  right: 0;
  text-align: center;
  width: fit-content;
}
a {
  text-decoration: none;
  color: white;
}
label {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
label span {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 18px;
}
label span:before,
label span:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
label span:before {
  top: 5px;
}
main {
  height: 100vh;
}
label span:after {
  top: -5px;
}
input {
  display: none;
}
input:checked ~ ul {
  max-height: 500px;
}
input:checked ~ label span {
  background: transparent;
}
input:checked ~ label span:before {
  transform: rotate(-45deg);
}
input:checked ~ label span:after {
  transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
  top: 0;
}
audio {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}

@media screen and (min-width: 834px) {
  ul {
    overflow: visible;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    width: 100%;
  }
  label span,
  input {
    display: none;
  }
  li:first-of-type {
    position: initial;
    top: 1%;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;
  }
  li {
    text-align: justify;
    max-width: 4ch;
  }
}

@media screen and (min-width: 834px) {
  .mainPlaylists {
    display: flex;
  }
  #playlists .scroll,
  #curated .scroll {
    display: flex;
    flex-direction: column;
  }
  #playlists .card,
  #curated .card {
    display: flex;
  }
  #playlists,
  #curated {
    width: 50%;
    height: 500px;
  }
  .scroll .card {
    max-width: 100%;
  }
  #playlists .scroll,
  #curated .scroll {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #playlists .scroll .cardInfo,
  #curated .scroll .cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
  }
  .more-btn {
    position: absolute;
    width: 9rem;
    bottom: 0;
    left: 65%;
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
  }
  #trending .more-btn {
    left: 83%;
  }
}
